#box-btn{
    border-radius: 0px;
    text-align: center;
    display: inline-block;
    padding: 12px 35px;
    font-family: "Muli", sans-serif;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 14px;
    font-weight: 500;
    color: #615CFD;
    border: 1px solid #615CFD;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    cursor: pointer;
}

#box-btn:hover{
    color: #fff;
    background-color: #615CFD;
}