.logo{
   font-size: 26px;
   font-weight:bolder;
   /* padding-left: 5rem; */
   text-align: center;
   text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nav-link{
    font-size: 17px;
    font-weight: 500;
    color: #000000;
    opacity: 1;
    font-family: "Muli", sans-serif;
}

.nav-item{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link :hover{
    background-color:darkgray;
    text-decoration: underline #615CFD;
}

/* #nav-menu{
    justify-content:end;
    text-align: center;
} */

#toggle-btn{
    border: none;
}


/* .btn{

    border-radius: 0px;
    display: block;
} */

/* 
nav{
    padding-bottom: 0;
} */