
#space{
    padding-top: 80px;
    padding-bottom: 80px;
}

#vl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px; /* Adjust the height based on your requirements */
  }
  
.vl {
    border-left: 2px solid gray;
    height: 50px;
  }
